.App {
  text-align: center;
  justify-content: center;
  background-image: url('./images/synthcore.jpg');
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  padding-top: 30px;
  color: whitesmoke;
  margin-top: 0;
  display: flex;
}

.prof-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
  margin-left: 25px;
  margin-top: 20px;
}

.about-me {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -350px;
  margin-left: -350px;
  background-image: url('./images/burl.jpeg');
  color: whitesmoke;
  width: 650px;  
  height: 720px;
  border-radius: 10%;
  padding: 10px 10px 0px 10px;
}

#salutation {
  height: 0.6em;
}

#subtitle {
  height: 0.5em;
  padding-top: 15px;
}

#bio {
  text-align: center;
  width: 90%;
  max-width: 550px;
  margin-left: 7.5%;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  font-weight: 640;
}

.projects {
  border: 1px solid #ccc;
  border-radius: 5%;
  height: 400px;
  width: 550px;
  min-width: 500px;
  margin-left: 7.5%;
}

.project-column {
  display: flex;
  height: 50%;
  width: auto;
  padding: 0px;
}

#listener {
  text-decoration: none;
  color: whitesmoke;
};

.project {
  margin-top: 50px;
  
}

.app-tile {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  padding: 0 8px 8px 12px;
  margin-top: 140px;
};

.app-tile {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  padding: 0 8px 8px 12px;
  opacity: 1 !important;
}

.contact-button {
  text-decoration: none;
  color: black;
  border-radius: 50%;
  background-color: #ccc;
  padding: 50px;
}

.contact-button:hover {
  opacity: 0.4;
  color: red;
  transition: color 500ms ease-out;
}

.contact-button-small {
  text-decoration: none;
  color: black;
  border-radius: 50%;
  background-color: #ccc;
  padding: 15px;
}

.contact-button-small:hover {
  opacity: 0.4;
  transition: color 500ms ease-out;
}

.contact-container {
  margin-top: 40px;
}

#col-1 {
  flex: 0.2;
}

#col-2 {
  flex: 0.6;
}

#col-3 {
  flex: 0.2;
  margin-top: 70px
}